body {
    background-color: black; 
    font-family: arial;
    color: white;
}
h1 {
    color: grey;
    font: verdana;
}
.maindiv {
    background-color: white; 
    font-family: arial;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    /* "align" setting recommended by course is not valid */
    /* align: center; */
    margin: auto;
}
